.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 69%
    right: 45%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 0%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__img .banner-principal__row
  padding: 0px !important
  @media (min-width: 576px) 
    padding: 0px !important
    padding-right: 0px !important
@media (min-width: 576px) 
    .banner-principal__row .banner-principal__img 
        padding-right: 0rem !important
        padding-top: 0rem !important

.banner-interno__fondo
  background-image: url(../assets/curso/portada/fondo-banner.png)  !important          

.fnd-t
  position: relative
  width: 100%
  background-image: url(../assets/curso/temas/tema1/fnd-1.svg)
  background-size: contain
  background-position: center left
  background-repeat: no-repeat
  padding: 0.5rem 1rem
  h5
    margin-bottom: 0px
  margin-bottom: 2rem  
  @media (max-width: 576px)
    background-size: cover
    margin-top: 1rem
  &-2
    background-image: url(../assets/curso/temas/tema5/fnd-1.svg)
  &-3
    background-image: url(../assets/curso/temas/tema5/fnd-2.svg)
  &-4
    background-size: cover
    background-position: right

.fnd-1
  background-color: #E5F9FF !important
.fnd-2
  position: relative
  width: 100%
  background-image: url(../assets/curso/temas/tema1/fnd-2.svg)
  background-size: cover
  background-position: center left
  background-repeat: no-repeat
  padding: 0.5rem 1rem    
  &-2
    background-color: #ffffff
    border-radius: 10px
    .slyder-a__btn--sigt, .slyder-a__btn--atrs 
      background-color: #006170
      background-image: url('../assets/curso/temas/tema1/arrow.svg')  
      border: 1px solid #006170
    .slyder-a__bullets__item--active 
        background-color: #FC7350 !important
        border-color: #FC7350
    .slyder-a__bullets__item
        background-color: #FECEC2
        border: 1px solid #FECEC2
.fnd-3
  background-color: #E5F9FF
  &.acordion__activo    
      background-color: #FEE2DB     
      .acordion__accion__btn--a 
          background-color: #FC7350
  .acordion__accion__btn--a 
      background-color: #00C2FF

.fnd-4
  background-color: #E9FBE5
  img
    margin-bottom: 0rem
  p 
    margin-top: 1rem
    padding-right: 2rem      
  @media (max-width: 769px)     
    p 
      margin-top: 0rem
      padding-right: 0rem 
    img
      margin-bottom: 2rem


.fnd-5
  padding: 4px
  margin: 1rem
  position: relative
  .fl-box-img
    position: absolute
    top: 50%
    right: -5%
    transform: translateY(-50%)
    width: auto
    height: auto
    padding: 20px
    z-index: 3
    display: block
    @media (max-width: 768px)
      display: none 

  .img-2
    bottom: -30%
    top: 0
    right: 0%
    transform: translateY(-30%)
  .img-3
    top: 50%
    right: 0%
    transform: translateY(-56%)    
  .img-4
    right: 2%
.fnd-6
  position: relative
  background-image: url(../assets/curso/temas/tema1/fnd-2-.svg)
  background-size: cover
  background-position: center left
  background-repeat: no-repeat    
  &-
    background-image: url(../assets/curso/temas/tema5/img-2.svg)
  &-1
    background-image: url(../assets/curso/temas/tema5/img-11.svg)
  &-2
    background-image: url(../assets/curso/temas/tema3/img-12.svg)

.fnd-7
  background-color: #F3FDF1
.fnd-8
  background-color: #E9FBE5
  &-1
    background-color: #FEE2DB
  &-2
    background-color: #F6F6F6
  &-3    
    background-color: #FDE3C1 !important
  &-4
    background-color:#F3FDF1
  &-5
    background-color: #99E7FF
    border-radius: 2rem
    border: 10px solid #fff
  &-6
    background-color: #D3F8CB    
    border-radius: 2rem
    border: 10px solid #fff
  &-7
    background-color: #fff
    border: 3px solid #55555518
  &-8
    background-color: #CCF3FF
  &-9
    background-color:#F3FDF1
    align-items: end
    align-content: center
    display: grid    
.fnd-9    
  &-1
    background-color: #99E7FF
    border-radius: 2rem 0 0 2rem   
  &-2
    background-color: #CDF3FF
    border-radius: 0 2rem 2rem 0
    
  @media (max-width: 768px)  
    &-1
      margin-bottom: 2rem
    border-radius: 2rem
    
  @media (min-width: 1200px)        
    height: 370px
  @media (min-width: 992px) and (max-width: 1200px)       
    height: 464px 
.fnd-10
  .tabs-a__tab.tabs-a__tab__selected, .tabs-a.color-acento-botones .tabs-a__tab:hover,
    background-color: #00C2FF !important
  .tabs-a__tab 
    background-color: #94EE7F
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
    background-color: #00C2FF !important
.fnd-11
  position: relative
  background-image: url(../assets/curso/temas/tema5/img-14.svg)
  background-size: cover
  background-position: center left
  background-repeat: no-repeat        
  border-radius: 2rem
.img-72
  height: 72px
  width: auto
  margin: auto  
.img-38
  height: 38px
  width: auto

.ta-ge
  @media (max-width: 1200px)  
    align-items: center !important
    display: flex
  @media (min-width: 1200px)  
    height: 210px    


.img-infografica__item, .img-infografica-b__item
    width: 3.5%    
    background-color: #fff   
    border-radius: 2rem
.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after, 
  background-color: #fff     

.f1
  position: relative
.background 
  position: absolute
  top: 50%
  left: 0
  right: 0
  height: 60%
  background-color: #e8f6dc 
  z-index: 1
  border-radius: 20px
  transform: translateY(-50%)
.b1
  background-color: #D3F8CB !important  

.cont2
  position: relative
  display: flex
  justify-content: space-between
  z-index: 2
  width: 100%
  padding: 20px  

.tbl
  td
    border: 2px solid #006170
    &:nth-child(1)
      width: 20%
      text-align: center
      @media (max-width: 768px) 
        width: 30%
    &:nth-child(2)
      padding-left: 3rem     
      @media (max-width: 768px)  
        padding-left: 1rem     

.tbl-1        
  overflow-x: auto
  min-width: 370px !important
  width: 100% 
  
  th
    background-color: #D3F8CB
    border: 2px solid #006170
    padding: 1rem
  td
    border: 2px solid #006170  
    background-color: #F3FDF1
    padding: 1rem
.tb 
    border-top: 0px solid #006170  !important
    border-left: 0px solid #006170  !important
    background-color: #fff !important
